<footer class="footer">
    <div class="container">

        <div class="columns is-multiline">

            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/" class="link">Home</a>
                </div>
            </div>

            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/blog/" class="link">Blog</a>
                </div>
            </div>

            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/products/" class="link">Products</a>
                </div>
            </div>

            <div class="column has-text-centered">
                <div>
                    <a href="/bulma-clean-theme/privacy-policy/" class="link">Privacy
                        Policy</a>
                </div>
            </div>

        </div>

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S.
                    Rhymes</a></p>
        </div>
    </div>		
</footer>